.post-list {
  margin: 1em 0;
  list-style: none;
  &:hover,
  &:focus-within {
    .post-link {
      opacity: .6;
    }
  }
}

.post-list li {
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--border-color);
  
  &:last-child {
    border-bottom: none;
  }
}

.post-link {
  color: var(--text-color);
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  padding: .25em;
  transition: opacity .125s ease-in-out, color .125s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1 !important;
    color: var(--accent-color);
  }
  @media (min-width: $on-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .post-date {
      margin-left: auto;
    }
  }
}

.post-link__heading {
  display: block;
  margin-right: 4em;
  @media (min-width: $on-tablet) {
    padding: .25em 0;
  }
  h1 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0;
    font-weight: 600;
  }
}

.post-link__title + .post-link__excerpt {
  opacity: .7;
  color: var(--muted-color);
  font-size: 0.95em;
  line-height: 1.4;
}

.post-pagination {
  margin-top: 4rem;
  font-size: .75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1em 0;
  }
  &:hover,
  &:focus-within {
    a {
      opacity: .6;
    }
  }
  a {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .125s ease-in-out, color .125s ease-in-out;
    &:hover,
    &:focus {
      opacity: 1;
      color: var(--accent-color);
    }
  }
}